.pop-up {
height: auto;
display: block;
width: 90%;
margin-left: 5%;
margin-top: 0;
position: absolute;
z-index: 454;
}

.pop-up .container {
background-color: rgb(252, 253, 255);
border: 2px solid rgb(6, 88, 115);
min-height: 600px;
display: flex;
flex-direction: column;
place-content: center;
align-items: center;
}

.pop-up .container img {
    width: 60%;
}

.pop-up .container .section-one {
    padding-top: 20px;
    background-color: aliceblue;
    width: 100%;
    height: auto;
    min-height: 200px;
    justify-content: space-around;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    }

.pop-up .container .section-two {
    padding-top: 20px;
    width: 100%;
    height: auto;
    min-height: 200px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.pop-up .container .section-two .part-1 {
  width: 50%;
}
.pop-up .container .section-two .part-2 {
    width: 50%;
  }

.pop-up .container .section-two .description{
  width: 50%;
}

.pop-up .container .section-two .country{
    width: 50%;
  }

.comment-section {
    width: 70%;
    align-items: center;
    justify-content: center;
}

.comment-section .comment-list {
    list-style-type: none;
    align-items: center;
}

.form {
    width: 80%;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.form input {
    width: 80%;
    height: 50px;
}

.form textarea {
    width: 80%;
    height: 300px;
}